body {background-color: #feffea}

h2{color: #D496A7}
h3{color: #9D695A}

#intro {
	width:  600px;
	margin: auto;
	font-family: 'Bitter', serif;
	color: #030027;
}

#map{
	width: 800px;
	height: 600px;
	margin: auto;

}

#info {
	width:  600px;
	margin: auto;
	font-family: 'Bitter', serif;
	color: #030027;
}


figcaption {
  color: #030027;
  font-style: italic;
  font-size: 10px;
  
