body {background-color: #D7CEC7;}

h2{color: #76323f}

#intro {
	width:  600px;
	margin: auto;
	font-family: 'Bitter', serif;
	color:  #565656;
}

#map{
	width: 800px;
	height: 600px;
	margin: auto;

}

#info {
	width:  600px;
	margin: auto;
	font-family: 'Bitter', serif;
	color:  #565656;
}